@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
body{
  background-color: #222831;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px;
  margin: 0px;
  color: #EEEEEE;
  overflow-x:hidden;
}
*{
  font-family: "red hat display";
  scroll-behavior: smooth;
}
h1{
  text-align: center;
}

.main-container{
  font-size: 2.5em;
  width: 80%;
  height: 80vh;
  color: white;
  white-space:nowrap;
  background-color: #393E46;
  display: flex;
  flex-direction: column;
  top: 10vh;
  
  justify-content: space-evenly;
  border-radius: 2em;
  align-items: center;
  margin-top: 10vh;
  overflow-x: hidden;
}
