@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
body{
  background-color: #222831;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px;
  margin: 0px;
  color: #EEEEEE
}
*{
  font-family: "red hat display";
}